@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/* theme color */
$--color-primary: teal;
$--background-color-base : black;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

.center-90 {
    width: 90%;
    float: left;

    margin-left: 5%;
}

.center-75 {
    width: 75%;
    float: left;

    margin-left: 12.5%;
}


.center-50 {
    width: 50%;
    float: left;

    margin-left: 25%;
}


.center-50 {
    width: 50%;
    float: left;

    margin-left: 25%;
}

.center-33 {
    float: left;
    width: 33.3%;
    margin-left: 33.3%;
}

.highlight {
    background-color: lightgray;
    font-weight: 650;
}

.highlight:hover {
    background-color: lightgray;
}

.row-hover:hover {
    background-color: lightgray
}

.no-padding {
    padding: 0;
}

.btn-in-bar {

    width: 150px;
    height: 40px;
    margin-bottom: 15px;

}

.print_class:hover{
    text-decoration: none;
}
canvas{


    height:700px !important;

}


//tr:hover{
//    cursor: pointer;
//}
