// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.pagination {
    float: left;
    display: flex;
    border: darkgrey 1px solid;
    font-size: 15px;
    font-weight: 545;
}

.pagination > li {
    color: black;
    float: left;

    border: darkgrey 0.5px solid;
    text-decoration: none;
}

.pagination > li > a {
    color: black;
    float: left;
    padding: 6px 12px;
    text-decoration: none;
}

.pagination-active {
    background-color: lightblue;
    color: white;


}

.pagination-active:active {


}

.pagination > li:hover:not(.pagination-active) {
    background-color: #ddd;

}

.pagination > li:focus {
    background-color: #d6d8d9;
    border: black 0.5px solid;
}

.center-90 {
    width: 90%;
    float: left;

    margin-left: 5%;
}

.center-75 {
    width: 75%;
    float: left;

    margin-left: 12.5%;
}


.center-50 {
    width: 50%;
    float: left;

    margin-left: 25%;
}


.center-50 {
    width: 50%;
    float: left;

    margin-left: 25%;
}

.center-33 {
    float: left;
    width: 33.3%;
    margin-left: 33.3%;
}

.highlight {
    background-color: lightgray;
    font-weight: 650;
}

.highlight:hover {
    background-color: lightgray;
}

.row-hover:hover {
    background-color: lightgray
}

.no-padding {
    padding: 0;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.btn-in-bar {

    width: 150px;
    height: 40px;
    margin-bottom: 15px;

}

//tr:hover{
//    cursor: pointer;
//}
